@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {
    --preto: black;
    --branco: white;

    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

header{
    background: var(--preto);
    max-height: 190px;
    min-height: 150px;
}

header h1 {
    padding-top: 55px;
    font-family: var(--fonte2);
    color: var(--branco);
    font-size: 3.5em;
    font-weight: bold;
    text-align: center;
}

header p {
    padding-bottom: 55px;
    text-align: center;
    color: var(--branco);
    font-family: var(--fonte1);
}

header a {
    color: var(--branco);
    font-weight: bolder;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

section {
    font-family: var(--fonte3);
    padding: 55px;
    font-size: 1.2;
    
}

.branco {
    background: var(--branco);
}

.fundo-img1 {
    color: var(--branco);
    background-image: url('../imagens/background001.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: left center;
}

.fundo-img2 {
    color: var(--branco);
    background-image: url('../imagens/background002.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

.fundo-transparente {
    background: rgba(0, 0, 0, 0.562);
    padding: 10px;
    max-width: 190px;
}

footer {
    background: var(--preto);
    color: var(--branco);
    text-align: center;
    max-height: 200px;
    font-family: var(--fonte1);
    padding: 10px 0px;
}

footer a {
    color: var(--branco);
    text-decoration: none;
    font-weight: bold;

}

footer a:hover {
    text-decoration: underline;
}